

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*
 =============================== 
 General 
 =============================== 
 */

body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
}


/* The below code helped me to fix the footer, because on the Home page was not enough text to cover the full screen*/

main {
	flex: 1;
	margin-top: 44px;
	padding-bottom: 30px;
}

.row,
.container,
.container-fluid {
	margin: 0;
	padding: 0;
}


/* 
=============================== 
Navbar 
=============================== 
*/

.navbar {
	background-color: #fa6501;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.main-title {
	padding-left: 15px;
	display: inline-block;
	font-weight: 600;
	font-size: 1.2rem;
}

.title-logo {
	margin-bottom: 0 !important;
}


/*The code below styles the phone number on the navbar*/

a.tel>i,
a.tel {
	text-decoration: none;
	color: #fafafa;
}

.nav-item {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: centre;
}

.custom-toggler.navbar-toggler {
	outline: none;
}

.navbar-light .navbar-nav .nav-item .nav-link {
	color: #fafafa;
	font-weight: 400;
	border-radius: 4px;
	display: inline-block !important;
}

.nav-item {
	text-align: center;
}


/*The below code gives the bold effect to the active tab */

.active .nav-link {
	color: #fafafa !important;
	font-weight: 700 !important;
}


/* The next four declarations are for the hoover effect underline for the navbar tabs - displayed only to the screens above 768px width. Code found on YouTube https://www.youtube.com/watch?v=IYTBAQRBsw0 */

nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .5s;
}

nav.stroke ul li a {
	position: relative;
}

nav.stroke ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #fafafa;
	height: 1.5px;
	display: none;
}

nav.stroke ul li a:hover:after {
	width: 70%;
	display: none;
}






/* 
=============================== 
Carousel 
=============================== 
*/

#petcarousel {
	background-color: transparent;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
	margin-bottom: 15px;
	margin-top: 15px;
	padding-top: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	width: 15px;
	height: 15px;
}


/* 
=============================== 
Contact Us page 
=============================== 
*/

.contact-form {
	margin-top: 30px;
	width: 100%;
}

form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.form-title {
	font-weight: 600;
}




 ::placeholder {
	font-size: .7rem;
}



.btn-success,
.btn-secondary {
	padding: 5px 9px;
	font-size: .8rem;
}


/*Styling for the Font Awesome icons on the hero image.*/

.envelope .phonenumber {
	display: block;
	text-decoration: none;
	padding-right: 5%;
	text-align: center;
}

.phonenumber {
	padding-left: 0;
	display: inline-block !important;
}

.opening-hours>ul>li {
	display: block;
	text-decoration: none;
	padding-left: 0;
	margin: auto;
}

/* 
=============================== 
Products page 
=============================== 
*/
.products-outlined, .contact-place>h5 {
	background-color: #fa6501;
	text-align: center;
	color: #fafafa;
	margin-top: 50px;
	padding: 10px;
	font-weight: bold;
	background-image: linear-gradient(to right, #fa6501 , #0010ff8f);
	
}

.contact-place>h5 {
	margin-top: 0;
}
.category-product-list {
	box-shadow: 10px 11px 12px -11px rgba(0,0,0,0.61);
	padding-bottom: 20px;

}
	

.sell {
	border: none;
	height: 110px;
	margin-top: 15px;
}

.price {
	font-weight: 600;
	font-size: 18px;
}

/* 
=============================== 
Services page 
=============================== 
*/
.services-list {
	margin-top: 70px;
}

/* 
=============================== 
About page 
=============================== 
*/

.video {
  height: 80%;
  text-align: center;
}

.card-deck {
	margin: 0;
	padding: 0;
	padding-top: 30px;
}

.card {
	align-items: center;
}

.card-img-top {
width: 60%;
padding-top: 10px;
}

.about-us-title {
	padding-bottom: 20px;
}

.contact-page-main {
	margin-top: 120px;
}

.main-content-products {
    margin-top: 90px;
}
/* 
=============================== 
Footer 
=============================== 
*/

footer {
	background-color: #fa6501;
	color: #fafafa;
	text-align: center;
	padding: 20px 10px;
	font-size: .8rem;
}

.footer-top {
	padding-top: 7px;
}

.terms {
	font-size: .9rem;
	margin-bottom: 10px;
}

footer>ul {
	margin-bottom: 7px !important;
}

footer>p {
	margin-top: 7px !important;
	text-align: center;
}

footer>ul>li {
	display: inline-block;
	text-decoration: none;
	padding-left: 5%;
	padding-right: 5%;
	font-size: .8rem;
}

footer .social-icons a {
	padding-right: 5%;
	padding-left: 5%;
	font-size: 160%;
	color: #fafafa;
}

footer .social-icons a:hover {
	color: #b9abab;
}

footer .copyright>p {
	font-size: .85rem;
	padding-top: 10px;
	padding-bottom: 3px;
}


/* 
=============================== 
404 Page 
=============================== 
*/

.page-wrap {
	min-height: 100vh;
	background: #40585c73;
}


/* 
=============================== 
Media Queries 
=============================== 
*/


/* Mobile only*/


/*Next two declaration will add bottom margin and padding to the call to action button on mobile.*/

@media screen and (max-width: 766px) {
	#navbarSupportedContent .nav-item .quote {
		padding-left: 10px;
		padding-right: 10px;
	}

	.title-logo {
		display: none;
	}
}


/* Landscape phones and portrait tablets */

@media screen and (min-width: 767px) {
	.navbar-nav {
		align-items: center;
		padding-top: 5px;
	}
	.navbar-collapse {
		text-align: center !important;
	}
	/* .contact-place {
		margin-top: 30px;
		padding-left: 30px;
	} */
	.opening-hours>ul {
		padding-left: 14px;
	}
	/*Underline hoover effect for the navbar items displayed.*/
	nav.stroke ul li a:after,
	nav.stroke ul li a:hover:after {
		display: inline-block;
	}
}


/* Desktops and up */

@media screen and (min-width: 992px) {
	/*Hoover effect added to the phone number on the navbar.*/
	.brand-phone {
		transition: .5s;
	}

	.hero-text {
		font-size: 30px;
	}

	.envelope,
	.phonenumber {
		font-size: 20px;
	}
}

/* * {
	background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important;
	} */